.td_error {
    position: fixed;
    z-index: 6;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    background-color: #000;
  }
  
    .td_error_ {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      color: #fff;
      transform: translate3d(-50%,-50%,0);
    }
  
      .td_error_404 {
        position: relative;
        font-size: 144px;
      }
  
      @supports (clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)) or (-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)) {
        .td_error_404 {
          color: transparent;
        }
  
        .td_error_404_ {
          position: absolute;
          top:   0;
          right: 0;
          left:  0;
          color: #fff;
        }
  
        .td_error_404_:first-child {
          animation: four-o-four-1 2s infinite;
          -webkit-clip-path: polygon(0 0, 70% 0, 30% 100%, 0 100%);
                  clip-path: polygon(0 0, 70% 0, 30% 100%, 0 100%);
        }
  
        .td_error_404_:last-child {
          animation: four-o-four-2 3s infinite;
          -webkit-clip-path: polygon(70% 0, 100% 0, 100% 100%, 30% 100%);
                  clip-path: polygon(70% 0, 100% 0, 100% 100%, 30% 100%);
        }
      }
  
      .td_error_btn {
        display: inline-block;
        padding: 10px 15px;
        border: solid 1px;
        border-radius: 2px;
        color: inherit;
        transition: background-color .2s;
      }
  
      .no-touchevents .td_error_btn:hover, .touchevents .td_error_btn:active {
        background-color: rgba(255,255,255,.2);
      }
  
  @keyframes four-o-four-1 {
    0% {
      transform: translate3d(0,0,0);
    }
    5% {
      transform: translate3d(0,0,0);
    }
    5.1% {
      transform: translate3d(-7px,10px,0);
    }
    6% {
      transform: translate3d(-7px,10px,0);
    }
    6.1% {
      transform: translate3d(0,0,0);
    }
    10% {
      transform: translate3d(0,0,0);
    }
    10.1% {
      transform: translate3d(-7px,10px,0);
    }
    30% {
      transform: translate3d(-7px,10px,0);
    }
    30.1% {
      transform: translate3d(4px,-5px,0);
    }
    35% {
      transform: translate3d(4px,-5px,0);
    }
    35.1% {
      transform: translate3d(0,0,0);
    }
    50% {
      transform: translate3d(0,0,0);
    }
    50.1% {
      transform: translate3d(-7px,10px,0);
    }
    70% {
      transform: translate3d(-7px,10px,0);
    }
    70.1% {
      transform: translate3d(0,0,0);
    }
    90% {
      transform: translate3d(0,0,0);
    }
    90.1% {
      transform: translate3d(-7px,-10px,0);
    }
    91% {
      transform: translate3d(-7px,-10px,0);
    }
    91.1% {
      transform: translate3d(0,0,0);
    }
  }
  
  @keyframes four-o-four-2 {
    0% {
      transform: translate3d(0,0,0);
    }
    5% {
      transform: translate3d(0,0,0);
    }
    5.1% {
      transform: translate3d(7px,-10px,0);
    }
    6% {
      transform: translate3d(7px,-10px,0);
    }
    6.1% {
      transform: translate3d(0,0,0);
    }
    10% {
      transform: translate3d(0,0,0);
    }
    10.1% {
      transform: translate3d(7px,-10px,0);
    }
    30% {
      transform: translate3d(7px,-10px,0);
    }
    30.1% {
      transform: translate3d(-4px,5px,0);
    }
    35% {
      transform: translate3d(-4px,5px,0);
    }
    35.1% {
      transform: translate3d(0,0,0);
    }
    50% {
      transform: translate3d(0,0,0);
    }
    50.1% {
      transform: translate3d(7px,-10px,0);
    }
    70% {
      transform: translate3d(7px,-10px,0);
    }
    70.1% {
      transform: translate3d(0,0,0);
    }
    90% {
      transform: translate3d(0,0,0);
    }
    90.1% {
      transform: translate3d(7px,10px,0);
    }
    91% {
      transform: translate3d(7px,10px,0);
    }
    91.1% {
      transform: translate3d(0,0,0);
    }
  }